/* Apply the Google Font to the Header */
header h1 {
    font-family: 'Bungee Tint', sans-serif;
    font-weight: 700; /* Use the bold weight */
}

/* Style the header link */
.header-link {
    color: inherit; /* Inherit color from the h1 */
    text-decoration: none; /* Remove underline */
}


/* Body background styling */
body {
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    /* or for a textured look: */
    /* background: url('path-to-your-texture-image.png') repeat; */
    background-size: cover; 
    background-color: #f0f0f0; /* Fallback color */
}

/* Set the height of the carousel and make images cover the area */
.carousel-item {
    height: 500px; /* Example height, adjust as needed */
    position: relative;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

/* Style for overlay text */
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 15px;
    border-radius: 10px;
}


